.about-us {
  &__columns {
    flex-direction: column;

    @include for-md {
      flex-direction: row;
    }
  }

  &__column {
    flex-basis: 50%;

    @include for-lg {
      flex-basis: auto;
    }

    &--first {
      order: 1;
      margin-top: 20px;

      @include for-md {
        margin-top: 0;
        order: 0;
      }

      @include for-lg {
        max-width: 702px;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
  }
}
