.course-author {
  &__columns {
    justify-content: center;
  }

  &__column {
    flex-grow: 1;
    flex-basis: 100%;

    &:first-child {
      @include for-md {
        flex-basis: 40%;
        flex-grow: 0;
      }
    }

    &:last-child {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include for-md {
        flex-basis: 60%;
        flex-grow: 0;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;

    @include for-md {
      max-width: none;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 20px;

    @include for-md {
      font-size: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__heading {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 20px;

    @include for-md {
      font-size: 32px;
    }
  }
}
