.course-types {
  &__columns {
    justify-content: center;
  }

  &__column {
    flex-grow: 1;
    flex-basis: 100%;

    @include for-sm {
      flex-basis: 50%;
      flex-grow: 0;
    }

    @include for-lg {
      flex-basis: calc(100% / 3);
    }
  }
}
