.cta-image {
  margin-top: 40px;
  padding: 20px 0;
  background: url('../img/cta-image.png') no-repeat center / cover;

  @include for-md {
    margin-top: 70px;
    padding: 70px 0;
  }

  @include for-lg {
    margin-top: 100px;
  }

  &__heading {
    font-size: 26px;
    margin-bottom: 10px;

    @include for-md {
      text-align: center;
      font-size: 48px;
    }

    @include for-lg {
      text-align: left;
    }
  }

  &__text {
    margin-bottom: 20px;

    @include for-md {
      text-align: center;
      margin-bottom: 40px;
    }

    @include for-lg {
      text-align: left;
    }
  }

  &__columns {
    flex-direction: column;

    @include for-sm {
      align-items: center;
    }

    @include for-lg {
      flex-direction: row;
      align-items: stretch;
    }
  }

  &__column {
    @include for-sm {
      width: 50%;
    }
  }

  &__button {
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
