.footer-map {
  @include for-md {
    padding: 85px 0;
    position: relative;
  }

  &__container {
    @include for-md {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__map {
    height: 400px;

    @include for-md {
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }
}
