.form {
  display: flex;
  flex-direction: column;

  &__item {
    display: block;

    .form--vertical & {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__input {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 21px 25px;
    background: #fcfcfc;
    border-radius: 10px;
    border: none;
    transition: $transition;

    &:focus {
      box-shadow: 0 0 0 3px #00a8ff, 0 0 0 4px #fff;
    }

    &--error {
      background: #ffc9c9;
    }
  }
}
