.process {
  &__columns {
    justify-content: center;
  }

  &__column {
    flex-basis: 100%;

    @include for-sm {
      flex-basis: 50%;
    }

    @include for-md {
      flex-basis: calc(100% / 3);
    }
  }
}
