.process-card {
  padding-top: 110px;
  background: no-repeat center 10px / auto 90px;

  @include for-md {
    padding-top: 180px;
    background-size: auto 140px;
    background-position: center 20px;
  }

  &__desc {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 1.2;

    @include for-md {
      font-size: 18px;
    }
  }

  &--card {
    background-image: url('../img/icons/process-card.svg');
  }

  &--gift {
    background-image: url('../img/icons/process-gift.svg');
  }

  &--care {
    background-image: url('../img/icons/process-care.svg');
  }
}
