.response-modal {
  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      #2192bf 0%,
      rgba(26, 210, 214, 0.87) 100%
    );
    animation: opacity-in ease-in-out $transition-duration;
    z-index: 2;

    &--leaving {
      animation: opacity-out ease-in-out $transition-duration;
      opacity: 0;
    }
  }

  &__modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 25px 10px rgba(255, 255, 255, 0.2);
    animation: opacity-in ease-in-out $transition-duration;
    max-width: calc(100vw - 32px);
    width: 500px;
    z-index: 3;

    &--leaving {
      animation: opacity-out ease-in-out $transition-duration;
      opacity: 0;
    }
  }

  &__content {
    margin-bottom: 20px;
  }

  &__text {
    text-align: center;
    color: $text-black;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__button-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px -10px;
  }

  &__button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: $text-white;
    background: $bg-accent-gradient;
    border-radius: 50px;
    padding: 16px 32px;
    flex-grow: 1;
    margin: 0 10px 10px;

    &:hover {
      background: $bg-accent-gradient-darken;
    }
  }
}

@keyframes opacity-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes opacity-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
