.result-card {
  background: $bg-white;
  border-radius: 15px;
  border: 1px solid #dddddd;
  transition: $transition;
  overflow: hidden;
  position: relative;

  &__video {
    display: block;
    width: 100%;
    min-height: 250px;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  .splide__slide.is-active & {
    border-color: #86d2f0;
    box-shadow: 0 5px 30px 0 rgba(134, 210, 240, 0.25);
    transform: translateY(-5px);
  }
}
