<div class="countdown promo__countdown wow animate__animated animate__fadeIn"
     id="countdown"
     data-wow-delay="0.4s"
     data-seconds-left="{{ discount.seconds_left }}">
  <div class="countdown__item">
    <span class="countdown__numbers" id="countdown-days">00</span>
    <span class="countdown__desc">Дней</span>
  </div>
  <div class="countdown__item">
    <span class="countdown__numbers" id="countdown-hours">00</span>
    <span class="countdown__desc">Часов</span>
  </div>
  <div class="countdown__item">
    <span class="countdown__numbers" id="countdown-minutes">00</span>
    <span class="countdown__desc">Минут</span>
  </div>
  <div class="countdown__item">
    <span class="countdown__numbers" id="countdown-seconds">00</span>
    <span class="countdown__desc">Секунд</span>
  </div>
</div>