{% load animation %}

<div class="header-inner">
  <div class="header-inner__top">
    <div class="header-inner__address-wrap wow animate__animated animate__fadeIn"
       data-wow-delay="0.2s">
      <a class="header-inner__address" target="_blank" href="https://go.2gis.com/14uxg">ЖК Сункар, Зенкова, 59</a>
      <a class="header-inner__address" target="_blank" href="https://go.2gis.com/gqhms20">Проспект Гагарина, 236Б</a>
    </div>
    <a class="button button--phone wow animate__animated animate__fadeIn"
       data-wow-delay="0.4s" href="tel:+77788599079">+7 (778) 859-90-79</a>
  </div>
  <div class="header-inner__bottom">
    <nav class="header-menu">
      {% for menu_item in menu_items %}
        <a class="header-menu__item wow animate__animated animate__fadeIn {% if menu_item.anchor %}move-to{% endif %}"
           data-wow-delay="{{ forloop.counter|delay_by_counter }}s"
           href="{{ menu_item.href }}">{{ menu_item.text }}</a>
      {% endfor %}
    </nav>
  </div>
</div>