{% extends 'base.html' %}
{% load static %}

{% block title %}Подарочные сертификаты массажа{% endblock %}

{% block body %}
  <div class="promo">
    <div class="promo__image-wrap">
      <img class="promo__image" src="{% static 'img/promo/certificates.jpg' %}"
           alt="promo">
    </div>
    <div class="container">
      <header class="header">
        <a class="header__brand wow animate__animated animate__fadeIn"
           href="{% url 'landing:index' %}">Центр
          спортивного <span class="header__brand--accent">моделирующего</span>
          массажа</a>
        <button class="menu-button wow animate__animated animate__fadeIn">
          <span class="menu-button__middle-line"></span>
        </button>
        {% include 'landing/partials/header_inner.html' %}
      </header>
      <div class="promo__content">
        <h1 class="heading heading--white promo__heading wow animate__animated animate__fadeIn">
          Подарочные сертификаты</h1>
        <p class="text text--white promo__text wow animate__animated animate__fadeIn"
           data-wow-delay="0.2s">Подарочный сертификат является подарком,
          которому всегда будете рады. Он подойдёт как мужчине, так и женщине и
          придётся по вкусу получателю любого возраста и социального
          положения</p>
        {% if discount.seconds_left %}
          {% include 'partials/countdown.html' %}
          <p class="heading heading--white heading--medium promo__heading promo__heading--countdown wow animate__animated animate__fadeIn"
             data-wow-delay="0.6s">Сейчас -{{ discount.percent }}% на подарочные сертификаты</p>
        {% endif %}
        <a class="button button--cta-blue promo__button--cta move-to wow animate__animated animate__fadeIn cta-button"
           href="#cta"
           data-mt-tolerance="100"
           data-wow-delay="{% if discount.seconds_left %}0.8s{% else %}0.4s{% endif %}">Заказать</a>
        <button class="button button--scroller promo__button--scroller move-to"
                data-target="#description"></button>
      </div>
    </div>
  </div>
  {% include 'landing/partials/mobile_menu.html' %}
  <section class="section certificates" id="certificates">
    <div class="container">
      <h2 class="heading heading--section heading--centered section__heading wow animate__animated animate__fadeIn">
        Плюсы подарочного сертификата</h2>
      <div class="columns certificates__columns">
        <div class="column certificates__column">
          <div class="certificates__wrap">
            <div class="certificate-card wow animate__animated animate__fadeIn"
                 data-wow-delay="0.2s">
              <img class="certificate-card__image"
                   src="{% static 'img/certificate_cards/1.jpg' %}" alt="#">
            </div>
            <div class="certificate-card wow animate__animated animate__fadeIn"
                 data-wow-delay="0.4s">
              <img class="certificate-card__image"
                   src="{% static 'img/certificate_cards/3.jpg' %}" alt="#">
            </div>
            <div class="certificate-card wow animate__animated animate__fadeIn"
                 data-wow-delay="0.6s">
              <img class="certificate-card__image"
                   src="{% static 'img/certificate_cards/2.jpg' %}" alt="#">
            </div>
          </div>
        </div>
        <div class="column certificates__column">
          <ul class="certificates__list">
            <li class="text wow animate__animated animate__fadeIn"
                data-wow-delay="0.2s">Универсальность
            </li>
            <li class="text wow animate__animated animate__fadeIn"
                data-wow-delay="0.4s">Возможность выбрать сумму сертификата
            </li>
            <li class="text wow animate__animated animate__fadeIn"
                data-wow-delay="0.6s">Срок действия 3 месяца
            </li>
            <li class="text wow animate__animated animate__fadeIn"
                data-wow-delay="0.8s">Стильная подарочная упаковка
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section process" id="process">
    <div class="container">
      <h2 class="heading heading--section section__heading wow animate__animated animate__fadeIn">
        Процесс оформления</h2>
      <div class="columns columns--wrap process__columns">
        <div
            class="column process__column wow animate__animated animate__fadeIn"
            data-wow-delay="0.2s">
          <div class="process-card process-card--card">
            <p class="process-card__desc">Выбирайте сертификат на подходящую
              Вам сумму. Произведите оплату по нашим реквизитам</p>
          </div>
        </div>
        <div
            class="column process__column wow animate__animated animate__fadeIn"
            data-wow-delay="0.4s">
          <div class="process-card process-card--gift">
            <p class="process-card__desc">Мы доставим его получателю в
              оговорённый срок и время в подарочной упаковке</p>
          </div>
        </div>
        <div
            class="column process__column wow animate__animated animate__fadeIn"
            data-wow-delay="0.6s">
          <div class="process-card process-card--care">
            <p class="process-card__desc">Ваш подарок обязательно понравится и
              даст понять о вашей заботе и пожелании</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="why-we wow animate__animated animate__fadeIn">
    <div class="container why-we__container">
      <div class="why-we__image-wrap"></div>
      <div class="why-we__content-wrap">
        <h2 class="heading heading--section heading--white why-we__heading">
          Почему «Атлант»?</h2>
        <p class="why-we__text text--white">
          <span class="why-we__text--bold">4 года</span>
          успешной работы
        </p>
        <p class="why-we__text text--white">
          <span class="why-we__text--bold">3500</span>
          довольных клиентов
        </p>
        <p class="why-we__text text--white">
          Техники массажа, которые
          <span class="why-we__text--bold">дают результат</span>
        </p>
        <p class="why-we__text text--white">
          <span class="why-we__text--bold">Индивидуальное решение</span>
          запроса каждого клиента
        </p>
      </div>
    </div>
  </section>
  <section class="cta-blue wow animate__animated animate__fadeIn" id="cta">
    <div class="container">
      <div class="columns cta-blue__columns">
        <div class="column cta-blue__column cta-blue__column--left">
          <h2 class="heading heading--section heading--white cta-blue__heading">
            Остались вопросы?<br>С удовольствием ответим</h2>
          <p class="text text--white cta-blue__text">Оставьте свои контакты и
            наш менеджер перезвонит вам</p>
        </div>
        <div class="column cta-blue__column cta-blue__column--right">
          <form class="client-request-form"
                action="{% url 'clients:create' %}">
            <div class="form form--vertical">
              <input type="hidden" name="tag" value="{{ request.path }}">
              <label class="form__item">
                <input class="form__input" type="text" name="name"
                       placeholder="Введите ваше имя" id="cta-input">
              </label>
              <label class="form__item">
                <input class="form__input phone-mask" type="text"
                       placeholder="+_ (___) ___-__-__" name="phone_number">
              </label>
              <button class="button button--cta cta-blue__button">Заказать
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block extra_bottom_imports %}
  <script src="{% static 'js/cta.js' %}"></script>
  <script src="{% static 'js/client_request_form.js' %}"></script>
{% endblock %}
