{% extends 'base.html' %}
{% load static %}
{% load price %}
{% load animation %}

{% block title %}Курс обучения общего профилактического массажа{% endblock %}

{% block body %}
  <div class="promo">
    <div class="promo__image-wrap">
      <img class="promo__image" src="{% static 'img/promo/courses.png' %}"
           alt="promo">
    </div>
    <div class="container">
      <header class="header">
        <a class="header__brand wow animate__animated animate__fadeIn"
           href="{% url 'landing:index' %}">Центр
          спортивного <span class="header__brand--accent">моделирующего</span>
          массажа</a>
        <button class="menu-button wow animate__animated animate__fadeIn">
          <span class="menu-button__middle-line"></span>
        </button>
        {% include 'landing/partials/header_inner.html' %}
      </header>
      <div class="promo__content">
        <h1 class="heading heading--white promo__heading wow animate__animated animate__fadeIn">
          Курс обучения общего профилактического массажа</h1>
        <p class="text text--white promo__text wow animate__animated animate__fadeIn"
           data-wow-delay="0.2s">Как стать профессиональным мастером массажа и
          зарабатывать от 250 000 тенге а месяц</p>
        {% if discount.seconds_left %}
          {% include 'partials/countdown.html' %}
          <p class="heading heading--white heading--medium promo__heading promo__heading--countdown wow animate__animated animate__fadeIn"
             data-wow-delay="0.6s">Сейчас -{{ discount.percent }}% на
            подарочные сертификаты</p>
        {% endif %}
        <a class="button button--cta promo__button--cta move-to wow animate__animated animate__fadeIn cta-button"
           href="#cta"
           data-mt-tolerance="100"
           data-wow-delay="{% if discount.seconds_left %}0.8s{% else %}0.4s{% endif %}">Записаться
          на курс</a>
        <button class="button button--scroller promo__button--scroller move-to"
                data-target="#description"></button>
      </div>
    </div>
  </div>
  {% include 'landing/partials/mobile_menu.html' %}
  <section class="section courses-content" id="description">
    <div class="container">
      <h2 class="heading heading--section section__heading wow animate__animated animate__fadeIn">
        Что представляет из себя курс</h2>
      <div
          class="courses-content__video-wrap wow animate__animated animate__fadeIn"
          data-wow-delay="0.2s">
        <iframe class="courses-content__video"
                src="https://www.youtube.com/embed/IKZZnkL9W68"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
      <div class="columns columns--wrap courses-content__columns">
        <div
            class="column courses-content__column wow animate__animated animate__fadeIn"
            data-wow-delay="0.2s">
          <div class="courses-content-card">
            <div class="courses-content-card__number-wrap">
              <span class="courses-content-card__number">1</span>
            </div>
            <p class="courses-content-card__text">Теория массажа: гигиена,
              техники безопасности, показания и противопоказания</p>
          </div>
        </div>
        <div
            class="column courses-content__column wow animate__animated animate__fadeIn"
            data-wow-delay="0.4s">
          <div class="courses-content-card">
            <div class="courses-content-card__number-wrap">
              <span class="courses-content-card__number">2</span>
            </div>
            <p class="courses-content-card__text">Техники исполнения массажа:
              растирание, поглаживание, разминание и вибрация</p>
          </div>
        </div>
        <div
            class="column courses-content__column wow animate__animated animate__fadeIn"
            data-wow-delay="0.6s">
          <div class="courses-content-card">
            <div class="courses-content-card__number-wrap">
              <span class="courses-content-card__number">3</span>
            </div>
            <p class="courses-content-card__text">Практика-массаж от головы до
              кончиков пальцев: проработка всех 20 зон тела</p>
          </div>
        </div>
        <div
            class="column courses-content__column wow animate__animated animate__fadeIn"
            data-wow-delay="0.8s">
          <div class="courses-content-card">
            <div class="courses-content-card__number-wrap">
              <span class="courses-content-card__number">4</span>
            </div>
            <p class="courses-content-card__text">Особенности исполнения
              массажа: постановка рук, как работать много и не уставать</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="target-audience wow animate__animated animate__fadeIn">
    <div class="container target-audience__container">
      <div
          class="target-audience__image-wrap wow animate__animated animate__fadeIn"></div>
      <div class="target-audience__content-wrap">
        <h2 class="heading heading--section target-audience__heading wow animate__animated animate__fadeIn">
          Кому подходит этот курс</h2>
        <ul class="target-audience__list">
          <li class="wow animate__animated animate__fadeIn"
              data-wow-delay="0.2s">Кто хочет освоить новую профессию или
            увеличить свой заработок
          </li>
          <li class="wow animate__animated animate__fadeIn"
              data-wow-delay="0.4s">Кто хочет освоить массаж для родных и
            близких
          </li>
          <li class="wow animate__animated animate__fadeIn"
              data-wow-delay="0.6s">Практикующим специалистам, кто хочет
            повысить свою квалификацию
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="cta-blue wow animate__animated animate__fadeIn" id="cta">
    <div class="container">
      <div class="columns cta-blue__columns">
        <div class="column cta-blue__column cta-blue__column--left">
          <h2 class="heading heading--section heading--white cta-blue__heading">
            Запишитесь на бесплатную консультацию прямо сейчас</h2>
          <p class="text text--white cta-blue__text">Оставьте свои контакты и
            наш менеджер перезвонит вам</p>
        </div>
        <div class="column cta-blue__column cta-blue__column--right">
          <form class="client-request-form"
                action="{% url 'clients:create' %}">
            <div class="form form--vertical">
              <input type="hidden" name="tag" value="{{ request.path }}">
              <label class="form__item">
                <input class="form__input" type="text" name="name"
                       id="cta-input" placeholder="Введите ваше имя">
              </label>
              <label class="form__item">
                <input class="form__input phone-mask" type="text"
                       placeholder="+_ (___) ___-__-__" name="phone_number">
              </label>
              <button class="button button--cta cta-blue__button"
                      type="submit">
                Записаться сейчас
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="section course-author" id="course-author">
    <div class="container">
      <h2 class="heading heading--section section__heading wow animate__animated animate__fadeIn">
        Об авторе курса</h2>
      <div class="columns columns--wrap course-author__columns">
        <div class="column course-author__column">
          <img
              class="course-author__image wow animate__animated animate__fadeIn"
              data-wow-delay="0.2s"
              src="{% static 'img/course-author.jpeg' %}" alt="#">
        </div>
        <div class="column course-author__column">
          <p class="course-author__text wow animate__animated animate__fadeIn"
             data-wow-delay="0.4s">
            Автором курса является основатель Центра моделирующего и
            спортивного массажа «Atlant»</p>
          <h3 class="course-author__heading wow animate__animated animate__fadeIn"
              data-wow-delay="0.6s">
            Александр Ложенко</h3>
          <p class="course-author__text wow animate__animated animate__fadeIn"
             data-wow-delay="0.8s">
            Имеет огромный практический стаж 12 лет</p>
          <p class="course-author__text wow animate__animated animate__fadeIn"
             data-wow-delay="1s">
            Александр работает по классическим массажным техникам, которые
            зарекомендовали себя, как лучшие в оздоровительном направлении</p>
          <p class="course-author__text wow animate__animated animate__fadeIn"
             data-wow-delay="1.2s">
            Его методика обучения позволяет быстро и основательно научиться
            выполнять массаж на профессиональном уровне</p>
        </div>
      </div>
  </section>
  <section class="section course-certificate">
    <div class="container">
      <h2 class="heading heading--section heading--centered section__heading wow animate__animated animate__fadeIn">
        Ваш будущий сертификат</h2>
      <div
          class="course-certificate__wrap wow animate__animated animate__fadeIn"
          data-wow-delay="0.2s">
        <img class="course-certificate__image"
             src="{% static 'img/course-certificate.png' %}" alt="#">
      </div>
    </div>
  </section>
  <section class="section course-advantages">
    <div class="container">
      <h2 class="heading heading--section section__heading wow animate__animated animate__fadeIn">
        Преимущества курса</h2>
      <div class="columns columns--wrap course-advantages__columns">
        <div
            class="column course-advantages__column wow animate__animated animate__fadeIn"
            data-wow-delay="0.2s">
          <div class="course-advantages-card course-advantages-card--quality">
            <h3 class="course-advantages-card__heading">Качество</h3>
            <ul class="course-advantages-card__list">
              <li>Авторская методика и опыт 12 лет</li>
              <li>Упакованный в один курс без воды</li>
            </ul>
          </div>
        </div>
        <div
            class="column course-advantages__column wow animate__animated animate__fadeIn"
            data-wow-delay="0.4s">
          <div
              class="course-advantages-card course-advantages-card--technique">
            <h3 class="course-advantages-card__heading">Техника</h3>
            <ul class="course-advantages-card__list">
              <li>Практическая отработка</li>
              <li>Правильная постановка рук</li>
            </ul>
          </div>
        </div>
        <div
            class="column course-advantages__column wow animate__animated animate__fadeIn"
            data-wow-delay="0.6s">
          <div class="course-advantages-card course-advantages-card--studying">
            <h3 class="course-advantages-card__heading">Обучение</h3>
            <ul class="course-advantages-card__list">
              <li>Удобный график</li>
              <li>Доступ к базе материалов</li>
              <li>Индивидуальный подход к обучению</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section course-types" id="course-types">
    <div class="container">
      <h2 class="heading heading--section heading--centered section__heading wow animate__animated animate__fadeIn">
        Варианты курса</h2>
      <div class="columns columns--wrap course-types__columns">
        {% for course in courses %}
          <div
              class="column course-types__column wow animate__animated animate__fadeIn"
              data-wow-delay="{{ forloop.counter|delay_by_counter }}s"
          >
            <div class="course-type-card">
              <h3 class="course-type-card__heading">{{ course.name }}</h3>
              <div class="course-type-card__prices">
                <span
                    class="course-type-card__price course-type-card__price--old">{{ course.old_price|beautify_price }} тг</span>
                <span
                    class="course-type-card__price">{{ course.price|beautify_price }} тг</span>
              </div>
              <p class="course-type-card__text">{{ course.description }}</p>
              <a class="course-type-card__button move-to cta-button"
                 data-mt-tolerance="100" href="#cta">Записаться</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% include 'landing/partials/testimonials.html' %}
  <section class="cta-image wow animate__animated animate__fadeIn">
    <div class="container">
      <h2 class="heading heading--section heading--white cta-image__heading">
        Остались вопросы?</h2>
      <p class="text text--white cta-image__text">Оставьте свои контакты и наш
        менеджер перезвонит вам</p>
      <form class="client-request-form" action="{% url 'clients:create' %}">
        <div class="form">
          <input type="hidden" name="tag" value="{{ request.path }}">
          <div class="columns cta-image__columns">
            <div class="column cta-image__column">
              <label class="form__item">
                <input class="form__input" type="text" name="name"
                       placeholder="Введите ваше имя">
              </label>
            </div>
            <div class="column cta-image__column">
              <label class="form__item">
                <input class="form__input phone-mask" type="text"
                       placeholder="+_ (___) ___-__-__" name="phone_number">
              </label>
            </div>
            <div class="column cta-image__column">
              <label class="form__item">
                <button class="button button--cta cta-image__button">Оставить
                  заявку
                </button>
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
{% endblock %}

{% block extra_bottom_imports %}
  <script src="{% static 'js/courses/carousels.js' %}"></script>
  <script src="{% static 'js/cta.js' %}"></script>
  <script src="{% static 'js/client_request_form.js' %}"></script>
{% endblock %}