{% load static %}
{% load seo %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% page_description request.path %}
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"
        type="image/x-icon">
  {% include 'partials/top_imports.html' %}
</head>

<body>
{% block body %}{% endblock %}
{% include 'partials/footer.html' %}
{% include 'partials/mobile_buttons.html' %}
{% include 'partials/bottom_imports.html' %}
{% block extra_bottom_imports %}{% endblock %}
</body>

</html>
