.container {
  max-width: 1202px;
  padding: 0 16px;
  margin: 0 auto;
}

.columns {
  display: flex;
  margin: -10px -16px;

  @include for-md {
    margin-top: -16px;
    margin-bottom: -16px;
  }

  &--wrap {
    flex-wrap: wrap;
  }
}

.column {
  flex-grow: 1;
  padding: 10px 16px;

  @include for-md {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
